<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at https://mozilla.org/MPL/2.0/. -->

   <!DOCTYPE html>
   <html>
   <head>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta name="theme-color" content="black"/>
     <link rel="stylesheet" href="style.css">
     <link rel="icon" type="image/png" href="./workspace-favicon.png"/>
     <title>Workspace</title>
   </head>
   <body >
     <div id="app">
       <v-app>
        <v-navigation-drawer v-model="showDrawer" app fixed right temporary width="600">
           <v-container fluid grid-list-lg>
             <v-layout row wrap>
               <v-flex xs12>
                 <p>
                   <v-toolbar>
                     <v-tooltip bottom>
                       <template v-slot:activator="{ on }">
                         <v-progress-circular class="mx-2" v-on="on" :rotate="360" :size="50" style="font-size: 10"
                           :width="4"
                           :value="videoBitRate === 0 ? 0 : (connectionVideoBitrate / (videoBitRate / 1000))*100"
                           color="teal">
                           {{ connectionVideoBitrate }}
                         </v-progress-circular>
                       </template>
                       <span>Current video bit rate in mbps vs selected bit rate {{ (videoBitRate / 1000).toFixed(0) }}
                         mbps</span>
                     </v-tooltip>
   
                     <v-tooltip bottom>
                       <template v-slot:activator="{ on }">
                         <v-progress-circular class="mx-2" v-on="on" :rotate="360" :size="50" style="font-size: 10"
                           :width="4" :value="(connectionFrameRate / 60)*100" color="blue-grey">
                           {{ connectionFrameRate }}
                         </v-progress-circular>
                       </template>
                       <span>Current FPS vs 60 FPS</span>
                     </v-tooltip>
   
                     <v-tooltip bottom>
                       <template v-slot:activator="{ on }">
                         <v-progress-circular class="mx-2" v-on="on" :rotate="360" :size="50" style="font-size: 10"
                           :width="4" :value="(connectionLatency / 1000)*100" color="red">
                           {{ connectionLatency }}
                         </v-progress-circular>
                       </template>
                       <span>Current max(video, audio) latency in milliseconds</span>
                     </v-tooltip>
   
                     <v-divider class="mr-1" vertical></v-divider>
   
                     <v-tooltip bottom>
                       <template v-slot:activator="{ on }">
                         <v-progress-circular v-if="encoderName === 'hardware'" class="mx-2" v-on="on" :rotate="360" :size="50" style="font-size: 10"
                           :width="4" :value="gpuLoad" color="blue">
                           {{ gpuLoad }}
                         </v-progress-circular>
                         <v-progress-circular v-else class="mx-2" v-on="on" :rotate="360" :size="50" style="font-size: 10"
                           :width="4" :value="serverCPUUsage" color="blue">
                           {{ serverCPUUsage }}
                         </v-progress-circular>
                       </template>
                       <span v-if="encoderName === 'hardware'">Current GPU load</span>
                       <span v-else>Server CPU Usage</span>
                     </v-tooltip>
   
                     <v-tooltip bottom>
                       <template v-slot:activator="{ on }">
                         <v-progress-circular v-if="encoderName === 'hardware'" class="mx-2" v-on="on" :rotate="360" :size="50" style="font-size: 10"
                           :width="4" :value="gpuMemoryTotal === 0 ? 0 : (gpuMemoryUsed / gpuMemoryTotal) * 100"
                           color="blue-grey">
                           {{ (gpuMemoryUsed / 1024).toFixed(2) }}
                         </v-progress-circular>
                         <v-progress-circular v-else class="mx-2" v-on="on" :rotate="360" :size="50" style="font-size: 10"
                           :width="4" :value="serverMemoryTotal === 0 ? 0 : (serverMemoryUsed / serverMemoryTotal) * 100"
                           color="blue-grey">
                           {{ (serverMemoryUsed / 1024 / 1024 / 1024).toFixed(2) }}
                         </v-progress-circular>
                       </template>
                       <span v-if="encoderName === 'hardware'">Current GPU memory GB used of the {{ (gpuMemoryTotal / 1024).toFixed(0) }}GB available</span>
                       <span v-else>Server Memory GB used of the {{ (serverMemoryTotal / 1024 / 1024 / 1024).toFixed(0) }}GB available</span>
                     </v-tooltip>
   
                     <v-divider class="mr-1" vertical></v-divider>
   
                     <v-tooltip bottom>
                       <template v-slot:activator="{ on }">
                         <v-btn icon v-on:click="enterFullscreen()">
                           <v-icon color="black" v-on="on">fullscreen</v-icon>
                         </v-btn>
                       </template>
                       <span>Enter fullscreen mode (CTRL+SHIFT+F)</span>
                     </v-tooltip>
   
                     <v-tooltip bottom v-if="clipboardStatus === 'enabled'">
                       <template v-slot:activator="{ on }">
                         <v-btn block icon>
                           <v-icon color="black" v-on="on">file_copy</v-icon>
                         </v-btn>
                       </template>
                       <span>Clipboard status: {{ clipboardStatus }}</span>
                     </v-tooltip>
   
                     <v-tooltip bottom v-else>
                       <template v-slot:activator="{ on }">
                         <v-btn block icon v-on:click="enableClipboard()">
                           <v-icon color="blue" v-on="on">file_copy</v-icon>
                         </v-btn>
                       </template>
                       <span>Enable clipboard access</span>
                     </v-tooltip>
   
                     <v-tooltip bottom>
                       <template v-slot:activator="{ on }">
                         <v-btn icon href="window.location.origin">
                           <v-icon color="black" v-on="on">home</v-icon>
                         </v-btn>
                       </template>
                       <span>Return to launcher</span>
                     </v-tooltip>
   
                     <v-tooltip bottom v-if="gamepadState === 'connected'">
                       <template v-slot:activator="{ on }">
                         <v-icon color="black" v-on="on">videogame_asset</v-icon>
                       </template>
                       <span>Gamepad connected: {{ gamepadName }}</span>
                     </v-tooltip>
   
                     <v-tooltip bottom v-else>
                       <template v-slot:activator="{ on }">
                         <v-icon color="grey" v-on="on">videogame_asset</v-icon>
                       </template>
                       <span>Gamepad disconnected</span>
                     </v-tooltip>
   
                     <v-tooltip bottom>
                       <template v-slot:activator="{ on }">
                         <v-icon class="ml-2" color="black" v-on="on">account_circle</v-icon>
                       </template>
                       <span>Logged in as {{ getUsername() }} </span>
                     </v-tooltip>
                   </v-toolbar>
                 </p>
                 <p>
                   <v-select :items="videoBitRateOptions" label="Video bit rate" menu-props="left" v-model="videoBitRate"
                     hint="Dynamic bit rate selection for hardware encoder on server" persistent-hint></v-select>
                 </p>
                 <p>
                   <v-select :items="videoFramerateOptions" label="Video frame rate" menu-props="left"
                     v-model="videoFramerate" hint="Frame rate selection, will reload window on change" persistent-hint>
                   </v-select>
                 </p>
                 <p>
                   <v-select :items="audioBitRateOptions" label="Audio bit rate" menu-props="left" v-model="audioBitRate"
                     hint="streaming bit rate selection for audio encoder on server"
                     persistent-hint>
                   </v-select>
                 </p>
                 <p>
                 <ul>
                   <li>Peer connection state: <b>{{ status }}</b></li>
                   <li>Peer connection type: <b>{{ connectionStatType }}</b></li>
                   <li>Packets received: <b>{{ connectionPacketsReceived }}</b></li>
                   <li>Packets lost: <b>{{ connectionPacketsLost }}</b></li>
                   <li>Bytes received: <b>{{ connectionBytesReceived }}</b></li>
                   <li>Bytes sent: <b>{{ connectionBytesSent }}</b></li>
                 </ul>
                 Video Stats
                 <ul>
                   <li>Latency: <b>{{ connectionVideoLatency }} ms</b></li>
                   <li>Video: <b>{{ connectionCodec }} {{ connectionResolution }}</b></li>
                   <li>Video encoder: <b>{{ encoderName }}</b></li>
                   <li>Window size: <b>{{ windowResolution[0] }}x{{ windowResolution[1] }}</b></li>
                   <li>Video decoder: <b>{{ connectionVideoDecoder }}</b></li>
                   <li>Frame rate: <b>{{ connectionFrameRate }} fps</b></li>
                   <li>Bit rate: <b>{{ connectionVideoBitrate }} mbps</b></li>
                   <li>Available receive bandwith: <b>{{ connectionAvailableBandwidth }}</b></li>
                 </ul>
                 Audio Stats
                 <ul>
                   <li>Latency: <b>{{ connectionAudioLatency }} ms</b></li>
                   <li>Codec: <b>{{ connectionAudioCodecName }}</b></li>
                   <li>Bit rate: <b>{{ connectionAudioBitrate }} kbps</b></li>
                 </ul>
                 </p>
                 <!-- <hr /> -->
                 <v-textarea bottom class="scrolly" label="Status Logs" readonly :value="logEntries.join('\n\n')">
                 </v-textarea>
                 <v-textarea bottom class="scrolly" label="Debug Logs" readonly :value="debugEntries.join('\n\n')">
                 </v-textarea>
                 <p>
                   <v-btn color="primary" v-if="!audioEnabled" small v-on:click="audioEnabled=true">Enable Audio</v-btn>
                   <v-btn color="primary" v-else small v-on:click="audioEnabled=false">Disable Audio</v-btn>
                   <v-switch v-model="resizeRemote" :label="`Resize remote to fit window: ${resizeRemote.toString()}`"></v-switch>
                   <v-switch v-model="scaleLocal" :label="`Scale to fit window: ${scaleLocal.toString()}`"></v-switch>
                 </p>
                 <p>
                   Debugging
                   <v-switch v-model="debug" :label="`Debug logs: ${debug.toString()}`"></v-switch>
                   <v-switch v-model="turnSwitch" :label="`Force relay connection: ${turnSwitch.toString()}`"></v-switch>
                 </p>
   
                 <p v-if="publishingAllowed">
                   Publishing
   
                 <div v-if="publishingIdle">
                   <v-form v-model="publishingValid">
                     <v-text-field label="New app name" :placeholder="`${app.appName}-sandbox`"
                       :rules="[rules.required, rules.validname]" v-model="publishingAppName">
                     </v-text-field>
   
                     <v-text-field label="New app display name" :placeholder="`${app.appName}-sandbox`"
                       v-model="publishingAppDisplayName">
                     </v-text-field>
   
                     <v-text-field label="New app description" :placeholder="`Created from ${app.appName}`"
                       v-model="publishingAppDescription">
                     </v-text-field>
   
                     <v-text-field label="URL to app icon" v-model="publishingAppIcon">
                     </v-text-field>
                   </v-form>
   
                   <v-btn color="primary" small v-on:click="publish()" :disabled="!publishingValid">Publish</v-btn>
                 </div>
                 <div v-else>
                   <v-progress-circular v-if="publishingAllowed" indeterminate :size="50" :width="4" color="primary">
                   </v-progress-circular>
                 </div>
                 </p>
               </v-flex>
             </v-layout>
           </v-container>
         </v-navigation-drawer> 
   
         <div id="video_container" class="video-container">
           <video id="stream" class="video" preload="none" playsinline>
             Your browser doesn't support video
           </video>
         </div>
   
         <canvas id="capture"></canvas>
   
         <v-btn class="fab-container" v-on:click="showDrawer=!showDrawer" color="grey" fab dark fixed right>
         </v-btn>
   
         <div class="loading">
           <div v-if="status === 'failed'">
             <v-btn v-on:click="location.reload()" class="black--text">
               reload</v-btn>
             <div class="loading-text">Connection failed.</div>
           </div>
           <div v-else>

<div v-if="status !== 'connected'" color="#E0E0E0" class="landingpage--container">
  <!-- <div class="anim--layout"> -->
  <div class="device--container">
    <div class="loader"></div>
    <div class="loader"></div>
    <div class="loader"></div>
  </div>
  <div class="text-anim-container">
    <div class="content">
      <div class="content__container">
        <p class="content__container__text">
          AI-Powered Workspace
        </p>
        <ul class="content__container__list">
          <li class="content__container__list__item">Flexible </li>
          <li class="content__container__list__item">Collaborative</li>
          <li class="content__container__list__item">Build</li>
          <li class="content__container__list__item">Start</li>
        </ul>
      </div>
    </div>
  <!-- </div> -->
</div>
  <!-- <div class="company--logo">
    <img  src ="./dflare-logo.png" alt="Dflare Logo" />
  </div> -->
  <!-- <div class="cloud--animation"> -->  
    <!-- <div class="progress--bar">
      <div class="lds-ring" >
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
      <p class="loading-text">Conneting with your workspace</p>
    </div> -->
  <!-- </div> -->
</div>

<div id="start--workspace" v-if="(status === 'connected' && showStart)" class="dashboard--container">
  <div class="startpage--theme">
    <img class="top-left" src="./top-left.svg" alt="Top Left Image" />
    <img class="bottom-right"  src="./bottom-right.svg" alt="Bottom Right Image" />
  </div>
  <div class="workspace--startpage">
    <div class="workspace--start">
      <img src="./start-workspace.svg" alt="Workspace Image" />
    </div>
    <div v-if="(status !== 'connected')" class="loading-text">{{ loadingText }}</div>
      <button v-if="(status === 'connected' && showStart)" v-on:click="playVideo()" class="start--btn">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"></path><path fill="currentColor" d="M5 13c0-5.088 2.903-9.436 7-11.182C16.097 3.564 19 7.912 19 13c0 .823-.076 1.626-.22 2.403l1.94 1.832a.5.5 0 0 1 .095.603l-2.495 4.575a.5.5 0 0 1-.793.114l-2.234-2.234a1 1 0 0 0-.707-.293H9.414a1 1 0 0 0-.707.293l-2.234 2.234a.5.5 0 0 1-.793-.114l-2.495-4.575a.5.5 0 0 1 .095-.603l1.94-1.832C5.077 14.626 5 13.823 5 13zm1.476 6.696l.817-.817A3 3 0 0 1 9.414 18h5.172a3 3 0 0 1 2.121.879l.817.817.982-1.8-1.1-1.04a2 2 0 0 1-.593-1.82c.124-.664.187-1.345.187-2.036 0-3.87-1.995-7.3-5-8.96C8.995 5.7 7 9.13 7 13c0 .691.063 1.372.187 2.037a2 2 0 0 1-.593 1.82l-1.1 1.039.982 1.8zM12 13a2 2 0 1 1 0-4 2 2 0 0 1 0 4z"></path></svg>
        <span>Launch</span>
      </button>
    </div>
     </div>

<div class="anim__overlay">Animation Overlay</div>
      </div>
      </div>
    </v-app>
     </div>
     <script type="text/javascript">
       // Handle messages from the ServiceWorker
       navigator.serviceWorker.addEventListener('message', event => {
         console.log("Message from service worker: ", event.data);
         if (event.data.msg === "reload") {
           setTimeout(() => {
             // Unregister service worker then force reload.
             navigator.serviceWorker.getRegistration().then( (reg) => {
               if (reg) {
                 reg.unregister().then( () => window.location.reload());
                } else {
                  window.location.reload();
                }
              })
              .catch( (err) => {
                window.location.reload();
              })
            }, 400);
          }
        });


        // let landingpage_display = document.getElementsByClassName('landingpage--container');
        // if(status === 'connected'){
        //   console.log("first",status)
        //   landingpage_display.style.zIndex = '0';
        // }else{
        //   landingpage_display.style.zIndex= '1';
        // }


    function animSlideLeft()
  {
    let dash = document.querySelector('.dashboard--container');
    dash.classList.add("addAnim--workspace")
  }
      
document.querySelector('.start--btn').addEventListener('click', animSlideLeft )


 


        // function hideStartPage()
        // {
        //   console.log("start page",showStart)
        //   let startButton = document.getElementById('start--workspace');
        //   if(!showStart){
        //     startButton.style.display = "none";
        //   }
        // }

        // let nav__drawer = document.getElementById('nav--drawer');
        // let video_container= document.getElementById('video_container');
        // nav__drawer.style.display = 'none';
        // video_container.style.display = 'none';
        // function hideLandingPage()
        // {
      //  let anim__layout = document.getElementById('anim--check');
      //  console.log("statue",app.status)
      //  var status =  'connected'
      //  if(status)
      //  {
      //   anim__layout.style.backgroundColor = 'red';
      //  }
        // }
        // setTimeout(() =>{
        //   hideLandingPage()
        // },5000)
        // let app__layout = document.getElementById('app')
        // app__layout.addEventListener(`click`,startButtonAnimaton());
        
        // function startButtonAnimaton(){
        //   console.log("sdfd");
        //   app__layout.style.backgroundColor = 'red';     
        // }

                // let app__layout = document.getElementById('app')

    </script>

    <script src="app/lib/vue-v2.6.9.min.js?ts=1"></script>
    <script src="app/lib/vuetify-1.5.14.min.js?ts=1"></script>
    <script src="app/sw.js"></script>
  </body>
   </html>
